@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap");
body {
    background-color: #0d1117;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 60%;
    padding:5px;
    width: 100%;
}

.table-title h3 {
   color: #fff;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
}

.table-fill {
    background: #1b1e24;
    border-radius:30px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 60%;
    padding:5px;
    width: 100%;
    animation: float 5s infinite;
}
 
th {
    color:#fff;;
    background:#1b1e24;
    border-right: 7px solid #0d1117;
    font-size:23px;
    font-weight: 100;
    padding:17px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:20px;
}
 
th:last-child {
    border-top-right-radius:20px;
    border-right:none;
}
  
tr {
    color:#8c8c8c;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
    bottom:2rem;
}
 
tr:nth-child(odd) td {
    background: #1e2228
}

tr:last-child td:first-child {
    border-bottom-left-radius:20px;
}
 
tr:last-child td:last-child {
    border-bottom-right-radius:20px;
}
 
td {
    background:#1b1e24;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:23px;
    border-right: 7px solid #0d1117;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
